html {
  color: white;
  height: 100%;
  /* border: 1px solid red; */
}

.pingus {
  position: fixed;
}

.pingu-imgs {
  width: 300px;
  /* height: 50; */
}

#start-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 110%;
  min-height: 110%;
}